@charset "UTF-8";
:root {
  --Dark: #679298;
  --Back: #ECF4F7;
  --Font: #264D52;
  --NAV_F: #ECF4F7;
  --UPBA: rgba(255, 255, 255, 0.5);
}

* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #779ea3;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "微軟正黑體";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: var(--Dark);
  padding: 0.6vw 7.5vw 0.4vw;
}

header a {
  margin: 0;
  text-decoration: none;
  height: 2vw;
}

.H_title {
  width: 10%;
  padding: 0;
}

.H_title a {
  text-decoration: none;
  color: var(--NAV_F);
}

.H_title img {
  margin: 0.4vw 0 0 0;
  height: 2.35vw;
}

nav {
  width: 90%;
}

.nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 1.5px;
}

.nav_bar li {
  margin: 0 1.55vw;
  font-size: 1.1vw;
  font-weight: bold;
  list-style-type: none;
  cursor: pointer;
}

.nav_bar a {
  text-decoration: none;
  color: var(--NAV_F);
}

#plusroute {
  display: none;
}

.container {
  width: 100%;
  background-color: var(--Back);
  padding: 4vw 8vw;
  min-height: calc(100vh - 12.35vw);
  font-family: "微軟正黑體";
}

.site_title {
  font-size: 1.55vw;
  color: var(--Font);
  text-align: left;
}

.btn {
  display: inline-block;
  padding: .4vw .8vw;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .4vw;
  outline: none;
  font-family: "微軟正黑體";
}

select, input, textarea {
  font-family: "微軟正黑體";
  outline: none;
  padding: .4vw .6vw;
  border: 1px solid #ccc;
  border-radius: .4vw;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  background-image: none;
  font-size: 1.1vw;
  line-height: inherit;
  height: 2.7vw;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
}

input:-ms-input-placeholder {
  opacity: 0.5;
}

input::-ms-input-placeholder {
  opacity: 0.5;
}

input::placeholder {
  opacity: 0.5;
}

footer {
  width: 100%;
  background-color: var(--Dark);
  padding: 1.8vw  7.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.F_left {
  width: 100%;
  font-size: 0.95vw;
  color: var(--NAV_F);
}

.F_title {
  margin: 10px 0 0 0;
}

.F_title img {
  height: 4vw;
}

.backtotop {
  border-radius: 50%;
  display: scroll;
  position: fixed;
  bottom: -65px;
  right: 2vw;
  color: var(--Dark);
  opacity: 1;
}

.backtotop:hover {
  opacity: 0.8;
}

.fa-chevron-circle-up {
  font-size: 3vw;
}

/*----------介紹頁面---------- */
.showintro {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 50;
  overflow-y: auto;
  overflow-x: hidden;
}

.showintro::-webkit-scrollbar {
  display: none;
}

.introback {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.INTRO {
  position: relative;
  width: 65%;
  height: auto;
  border-radius: 5px;
  background-color: white;
  z-index: 55;
  margin: 2.5vw auto;
  color: var(--Font);
}

.intro_top {
  position: relative;
  width: 100%;
  height: 3.5vw;
  border-bottom: 0.13vw solid #b9b9b9;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  font-size: 1.55vw;
  right: 1.5vw;
  top: 1.5vw;
  color: #b9b9b9;
  z-index: 100;
}

.intro_content {
  width: 90%;
  padding-top: 2vw;
  overflow-y: auto;
}

.closeBtn:hover {
  color: rgba(121, 121, 121, 0.6);
}

.intro_intro {
  text-align: center;
}

.tourline_title {
  font-size: 1.55vw;
}

.tourline_intro {
  margin: 1vw auto 2vw;
  width: 70%;
  font-size: 0.95vw;
}

.tourArticle {
  padding-left: 6vw;
  margin-bottom: 5vw;
  padding-top: 2vw;
}

.tourArticle::before {
  content: '';
  display: block;
  width: 0.15vw;
  height: calc(100% + 3vw);
  background-color: var(--Dark);
  position: absolute;
  left: calc((5vw - .2vw)/2);
  top: 0px;
}

.tourArticle::after {
  content: '';
  display: block;
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  background-color: var(--Font);
  position: absolute;
  left: 1.95vw;
  bottom: -3vw;
}

.tourtitle {
  padding-bottom: .5vw;
  z-index: 10;
}

.tourtitle::after {
  content: '';
  display: block;
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  background-color: var(--Font);
  position: absolute;
  left: 1.95vw;
  bottom: -1vw;
}

.tourtitle > span {
  font-size: 1.1vw;
  margin-left: .18vw;
}

.tourlineBox {
  border: 0.1vw solid var(--Dark);
  border-radius: 2vw;
  padding: 2vw;
  margin: 2vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tourlineBox:before, .tourlineBox_distance:before {
  content: '';
  width: 3.5vw;
  height: 0.15vw;
  background-color: var(--Dark);
  position: absolute;
  left: -3.6vw;
  top: 50%;
}

.showintro img {
  width: 50%;
  height: 100%;
  display: block;
  top: 0;
  border-radius: 1vw;
}

.tourlineSpots_Right {
  width: 50%;
  padding: 0 0 0 2.5vw;
  font-size: 1.1vw;
}

.tourlineSpots_title {
  font-size: 1.3vw;
  margin: 10px 0;
}

.distancebtn {
  display: inline-block;
  color: var(--Dark);
  margin-left: 1.5vw;
  line-height: 2.4vw;
  font-size: 1.1vw;
  border-bottom: 2px dashed var(--Dark);
}

.distancebtn a {
  text-decoration: none;
  color: var(--Dark);
}

/*----------登入頁面---------- */
.showlogin {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 50;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

.showintro::-webkit-scrollbar {
  display: none;
}

.loginback {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.LOGIN {
  position: relative;
  width: 40vw;
  height: 38vw;
  border-radius: 2vw;
  background-color: white;
  z-index: 55;
  margin: 3.5vw auto;
  color: var(--Font);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-gap: 5px;
  padding: 5vw 0;
}

.login_or {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 12vw 8vw 12vw;
      grid-template-columns: 12vw 8vw 12vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5vw;
}

.l {
  background-color: #262626;
  height: .05vw;
  width: 100%;
  margin: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
}

.or {
  font-size: 0.95vw;
}

.login_btn {
  display: -ms-grid;
  display: grid;
  width: 25vw;
  -ms-grid-columns: 11.5vw 11.5vw;
      grid-template-columns: 11.5vw 11.5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btnL {
  width: 11.5vw;
  border-radius: 20vw;
  height: 2.8vw;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnL > span {
  font-size: 1.2vw;
  font-family: "微軟正黑體";
  margin: 0;
}

.btnfa {
  font-size: 1.5vw;
}

.btnF {
  background-color: #7783A8;
}

.btnG {
  background-color: #D19C6C;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: .5vw;
}

.login_input {
  width: 20vw;
  height: 3vw;
  border-radius: 20vw;
  border: 0.1vw solid var(--Dark);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0px transparent;
  margin: 0;
  font-size: 1.3vw;
}

.btni {
  margin: 0;
  width: 5vw;
  height: 3vw;
  border: 0.1vw solid var(--Dark);
  color: var(--Dark);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0px transparent;
  font-size: 1.5vw;
}

.forgot {
  width: 23vw;
  font-size: 0.95vw;
  margin: 0;
  text-align: right;
  text-decoration: underline;
}

.button-row {
  margin: 1.3vw 0 0;
  display: -ms-grid;
  display: grid;
  width: 25vw;
  -ms-grid-columns: 5.5vw;
      grid-template-columns: 5.5vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btnSignIn {
  width: 5.5vw;
  border-radius: 20vw;
  color: #fff;
  background-color: var(--Dark);
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
}

.spinner-border-sl {
  height: 1rem;
  width: 1rem;
  border-width: .2em;
  top: -1.2px;
}

.spinner-border-sm {
  height: 0.8rem;
  width: 0.8rem;
  border-width: .2em;
}

.spinner-border-ss {
  height: 0.6rem;
  width: 0.6rem;
  border-width: .15em;
  margin-left: .4rem;
}
/*# sourceMappingURL=main.css.map */