@charset "UTF-8";
:root {
  --Dark: #679298;
  --Back: #ECF4F7;
  --Font: #264D52;
  --NAV_F: #ECF4F7;
  --UPBA: rgba(255, 255, 255, 0.5);
}

* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

* ::-webkit-scrollbar {
  width: .5vw;
}

* ::-webkit-scrollbar-track {
  border-radius: 1.0vw;
}

* ::-webkit-scrollbar-thumb {
  border-radius: .4vw;
  background: #779ea3;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "微軟正黑體";
}

.site_title {
  margin-left: 2vw;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
}

.spinner-border-sl {
  height: 1rem;
  width: 1rem;
  border-width: .2em;
  top: -1.2px;
}

.spinner-border-sm {
  height: 0.8rem;
  width: 0.8rem;
  border-width: .2em;
}

.spinner-border-ss {
  height: 0.6rem;
  width: 0.6rem;
  border-width: .15em;
  margin-left: .4rem;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#del {
  display: none;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  margin-left: 0;
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

input[type=file] {
  display: none;
}

.btnUpload {
  display: none;
}

.sptext {
  font-size: 1.1vw;
  line-height: 1.1vw;
  margin-left: .4rem;
}

select, input, textarea {
  font-family: "微軟正黑體";
  outline: none;
  padding: .4vw .6vw;
  border: 0.1vw solid #92b7bd;
  border-radius: .4vw;
  color: #4c777c;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  background-image: none;
  font-size: 1.1vw;
  line-height: inherit;
  height: 2.7vw;
}

textarea {
  height: 8vw;
  resize: none;
}

input[name="datetimes"] {
  display: none;
}

input[disabled="disabled"] {
  border: 0.1vw solid #b4b4b4;
  color: #747474;
}

.place {
  padding: 2vw 3vw;
  border: .1vw solid #92b7bd;
  border-radius: 1.5vw;
  background-color: #d6e8eb;
  margin: 1vw auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  grid-column-gap: 0.5vw;
  text-align: left;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 0vw;
  color: var(--Font);
  overflow: hidden;
}

.placetop {
  -ms-grid-rows: (4.5vw)[5];
      grid-template-rows: repeat(5, 4.5vw);
  -ms-grid-columns: 10% 30%;
      grid-template-columns: 10% 30%;
  grid-row-gap: 0.8vw;
}

.place_ {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-grid-columns: 20% 60%;
      grid-template-columns: 20% 60%;
  -ms-grid-rows: (4.5vw)[7];
      grid-template-rows: repeat(7, 4.5vw);
  grid-row-gap: 0.8vw;
  grid-column-gap: 0.5vw;
}

.input_main {
  font-size: 1.3vw;
  margin: 1vw 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
}

.input {
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: start;
          flex-direction: start;
  margin: 1vw 0;
}

.btnn {
  display: -webkit-box;
  -webkit-box-pack: end;
  margin: auto;
}

.btnn > .btn:nth-child(2) {
  margin: 0 1.5vw;
}

.btnn > .btn:not(:last-child) {
  background: #fff;
}

#submit {
  border: 0.1vw solid #588288;
  color: #fff;
  background-color: #588288;
}

#submit:hover {
  border: 0.1vw solid #426d72;
  color: #fff;
  background-color: #4c777c;
}

.box {
  position: absolute;
  height: 100%;
  width: 100%;
}

.gress {
  width: 60vw;
  bottom: 0px;
  right: 0;
  position: absolute;
}

.content_box {
  width: 10vw;
  right: 10%;
  height: 23vw;
  position: absolute;
}

.content_box:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.4vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3vw;
  background: #31313111;
  border-radius: 100%;
  -webkit-animation: shadow 1.5s linear infinite alternate;
          animation: shadow 1.5s linear infinite alternate;
}

.pink {
  width: 100%;
  position: absolute;
  -webkit-animation: box 1.5s linear infinite alternate;
          animation: box 1.5s linear infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes shadow {
  0% {
    width: 45%;
    left: 54%;
  }
  50% {
    bottom: -0.4vw;
    width: 55%;
    height: .3vw;
    left: 50%;
  }
  100% {
    width: 45%;
    left: 46%;
  }
}

@keyframes shadow {
  0% {
    width: 45%;
    left: 54%;
  }
  50% {
    bottom: -0.4vw;
    width: 55%;
    height: .3vw;
    left: 50%;
  }
  100% {
    width: 45%;
    left: 46%;
  }
}

@-webkit-keyframes box {
  0% {
    bottom: 20%;
    left: 4%;
  }
  50% {
    bottom: 15%;
    left: 0%;
  }
  100% {
    bottom: 20%;
    left: -4%;
  }
}

@keyframes box {
  0% {
    bottom: 20%;
    left: 4%;
  }
  50% {
    bottom: 15%;
    left: 0%;
  }
  100% {
    bottom: 20%;
    left: -4%;
  }
}

@media (max-width: 768px) {
  .box {
    display: none;
  }
  select, input {
    height: 4.5vw;
    font-size: 2.5vw;
  }
  textarea {
    height: 15vw;
    font-size: 2.5vw;
  }
  .input_main {
    font-size: 2.5vw;
    top: -17%;
  }
  .placetop {
    margin: 2vw 0 0 0;
    -ms-grid-rows: (9vw)[5];
        grid-template-rows: repeat(5, 9vw);
    -ms-grid-columns: 21% 77.5%;
        grid-template-columns: 21% 77.5%;
  }
  .place {
    margin: 2vw 0 2vw 0;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .place_ {
    height: 68vw;
    -ms-grid-rows: (9vw)[7];
        grid-template-rows: repeat(7, 9vw);
    -ms-grid-columns: 20% 78%;
        grid-template-columns: 20% 78%;
  }
  .place_:not(:nth-child(2n)) {
    height: 50vw;
  }
  .sptext {
    font-size: 2vw;
    line-height: 2vw;
    margin-left: .4rem;
  }
  .i0 {
    font-size: 2vw;
  }
  .btn-info {
    padding: 1vw 1vw;
    top: -17%;
  }
  .btnn > .btn {
    font-size: 2vw;
    padding: 1vw 2vw;
  }
}

@media (max-width: 320px) {
  select, input {
    height: 9vw;
    font-size: 4vw;
    padding: 0 2vw;
  }
  textarea {
    resize: none;
    height: 20vw;
    font-size: 4vw;
    padding: 2vw;
  }
  .input_main {
    font-size: 4vw;
  }
  .place {
    margin: 4vw 0 4vw 0;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .placetop {
    margin: 4vw 0 0 0;
    -ms-grid-rows: (11vw)[5];
        grid-template-rows: repeat(5, 11vw);
    -ms-grid-columns: 30% 68%;
        grid-template-columns: 30% 68%;
  }
  .place_:not(:nth-child(2n)) {
    height: 60vw;
    -ms-grid-rows: (11vw)[7];
        grid-template-rows: repeat(7, 11vw);
    -ms-grid-columns: 20% 78%;
        grid-template-columns: 20% 78%;
  }
  .place_:nth-child(2n) {
    height: 140vw;
    -ms-grid-rows: (20vw)[7];
        grid-template-rows: repeat(7, 20vw);
    -ms-grid-columns: 20% 78%;
        grid-template-columns: 20% 78%;
  }
  .place_:nth-child(2n) > .input_main {
    top: -27%;
  }
  .btnn > .btn {
    font-size: 4vw;
    padding: 2vw 4vw;
  }
  input[name="datetimes"] {
    top: 1vw;
  }
  .sptext {
    font-size: 4vw;
    line-height: 4vw;
    margin-left: .4rem;
  }
  .i0 {
    font-size: 4vw;
  }
  .btn-info {
    padding: 2vw 2vw;
  }
}
/*# sourceMappingURL=plusroute.css.map */