@charset "UTF-8";
:root {
  --Dark: #679298;
  --Back: #ECF4F7;
  --Font: #264D52;
  --NAV_F: #ECF4F7;
  --UPBA: rgba(255, 255, 255, 0.5);
}

* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

* ::-webkit-scrollbar {
  width: .5vw;
}

* ::-webkit-scrollbar-track {
  border-radius: 1.0vw;
}

* ::-webkit-scrollbar-thumb {
  border-radius: .4vw;
  background: #779ea3;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "微軟正黑體";
}

.site_title {
  margin-left: 2vw;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
}

.spinner-border-sl {
  height: 1rem;
  width: 1rem;
  border-width: .2em;
  top: -1.2px;
}

.spinner-border-sm {
  height: 0.8rem;
  width: 0.8rem;
  border-width: .2em;
}

.spinner-border-ss {
  height: 0.6rem;
  width: 0.6rem;
  border-width: .15em;
  margin-left: .4rem;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#del {
  display: none;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  margin-left: 0;
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

input[type=file] {
  display: none;
}

.btnUpload {
  display: none;
}

.sptext {
  font-size: 1.1vw;
  line-height: 1.1vw;
  margin-left: .4rem;
}

select, input, textarea {
  font-family: "微軟正黑體";
  outline: none;
  padding: .4vw .6vw;
  border: 0.1vw solid #92b7bd;
  border-radius: .4vw;
  color: #4c777c;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  background-image: none;
  font-size: 1.1vw;
  line-height: inherit;
  height: 2.7vw;
}

textarea {
  height: 8vw;
  resize: none;
}

input[name="datetimes"] {
  display: none;
}

input[disabled="disabled"] {
  border: 0.1vw solid #b4b4b4;
  color: #747474;
}

.place {
  padding: 2vw 3vw;
  border: .1vw solid #92b7bd;
  border-radius: 1.5vw;
  background-color: #d6e8eb;
  margin: 1vw auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  grid-column-gap: 0.5vw;
  text-align: left;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 0vw;
  color: var(--Font);
}

.placetop {
  -ms-grid-rows: (4.5vw)[5];
      grid-template-rows: repeat(5, 4.5vw);
  -ms-grid-columns: 10% 30%;
      grid-template-columns: 10% 30%;
  grid-row-gap: 0.8vw;
}

.place_ {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-grid-columns: 20% 60%;
      grid-template-columns: 20% 60%;
  -ms-grid-rows: (4.5vw)[7];
      grid-template-rows: repeat(7, 4.5vw);
  grid-row-gap: 0.8vw;
  grid-column-gap: 0.5vw;
}

.input_main {
  font-size: 1.3vw;
  margin: 1vw 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
}

.input {
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: start;
          flex-direction: start;
  margin: 1vw 0;
}

.btnn {
  display: -webkit-box;
  -webkit-box-pack: end;
  padding: 0 1vw;
}

.btnn > .btn {
  margin-left: 1vw;
}

#submit {
  border: 0.1vw solid #588288;
  color: #fff;
  background-color: #588288;
}

#submit:hover {
  border: 0.1vw solid #426d72;
  color: #fff;
  background-color: #4c777c;
}
/*# sourceMappingURL=plusroute.css.map */