@charset "UTF-8";
:root {
  --Dark: #679298;
  --Back: #ECF4F7;
  --Font: #264D52;
  --NAV_F: #ECF4F7;
  --UPBA: rgba(255, 255, 255, 0.5);
}

* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #779ea3;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "微軟正黑體";
}
.container {
  padding: 4vw 9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container_left {
  width: 30%;
  margin: 0;
}

.container_right {
  width: 70%;
  margin: 0;
  color: var(--Font);
}

.site_title {
  font-size: 1.55vw;
  text-align: left;
}

.wrap {
  cursor: pointer;
  height: 13.5vw;
}

.wrap a {
  height: 100%;
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrap_img {
  height: 100%;
  width: 40%;
  overflow: hidden;
}

.wrap_img img {
  width: 100%;
}

.wrap_text {
  width: 60%;
  margin: 0px;
  padding: 0 0 0 20px;
}

.wrap_title {
  font-size: 1.3vw;
}

.wrap_route {
  font-size: 0.95vw;
  padding: 10px 0 0 5px;
}

.route_input_group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-collapse: collapse;
  width: 19.5vw;
  margin: 0 0 20px 0;
}

.route_form_control {
  width: 100%;
  height: 2.7vw;
  padding: 1.2vw;
  font-size: 1.1vw;
  color: #2c5155;
  background-color: transparent;
  border: 0.1vw solid var(--Dark);
  border-right: none;
  border-radius: 0.3vw 0 0 0.3vw;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  outline: none;
  margin: 0;
}

.route_form_control ::-webkit-input-placeholder {
  color: #4c777c;
}

.route_form_control:focus {
  color: var(--Dark);
}

.btn {
  display: inline-block;
  padding: 0.65vw 1vw;
  height: 2.7vw;
  margin-bottom: 0;
  font-size: 1.1vw;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0.1vw solid var(--Dark);
  border-left: none;
  border-radius: 0 0.3vw 0.3vw 0;
  outline: none;
  background-color: transparent;
}

.route_search {
  color: var(--Dark);
}

.route_search:active, .open > .route_search {
  color: var(--Font);
}

.choose_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-collapse: separate;
  width: 19.5vw;
  font-size: 1.1vw;
  line-height: 1.3vw;
  margin: 0.5vw 0 0 0;
}

.choose_box input {
  display: none;
}

label {
  margin: 3px;
  color: var(--Dark);
}

.choose {
  left: 0px;
  width: 1.05vw;
  height: 1.05vw;
  border: 0.13vw solid var(--Dark);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.choose:before {
  position: absolute;
  content: "";
  left: 0.2vw;
  top: 0.2vw;
  opacity: 0;
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 50%;
  background-color: var(--Dark);
  -webkit-transition: all .3s;
  transition: all .3s;
}

input:checked + .choose:before {
  opacity: 1;
}

/*----------介紹頁面---------- */
.showintro {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.showintro::-webkit-scrollbar {
  display: none;
}

.introback {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.INTRO {
  position: relative;
  width: 80%;
  height: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  margin: 25px auto;
  color: var(--Font);
}

.intro_top {
  position: relative;
  width: 100%;
  height: 3.5vw;
}

.closeBtn {
  cursor: pointer;
}

.closeBtn1 {
  position: absolute;
  font-size: 1.55vw;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #b9b9b9;
}

.intro_content {
  width: 90%;
}

.intro_btm {
  position: relative;
  width: 100%;
  height: 3.5vw;
  border-top: 0.13vw solid #b9b9b9;
}

.closeBtn2 {
  position: relative;
  font-size: 2vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #b9b9b9;
}

.closeBtn:hover {
  color: rgba(121, 121, 121, 0.6);
}

.intro_intro {
  text-align: center;
}

.tourline_title {
  font-size: 1.55vw;
}

.tourline_intro {
  margin: 10px auto 20px;
  width: 70%;
  font-size: 0.95vw;
}

.tourArticle {
  padding-left: 60px;
  margin-bottom: 50px;
  padding-top: 20px;
}

.tourArticle::before {
  content: '';
  display: block;
  width: 1.5px;
  height: calc(100% + 30px);
  background-color: var(--Dark);
  position: absolute;
  left: calc((50px - 2px)/2);
  top: 0px;
}

.tourArticle::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--Font);
  position: absolute;
  left: 19.5px;
  bottom: -30px;
}

.tourtitle {
  left: -8px;
  padding-bottom: 5px;
  z-index: 10;
}

.tourtitle::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--Font);
  position: absolute;
  left: 27.5px;
  bottom: -10px;
}

.tourlineBox {
  border: 0.1vw solid var(--Dark);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tourlineBox:before, .tourlineBox_distance:before {
  content: '';
  width: 35px;
  height: 1.5px;
  background-color: var(--Dark);
  position: absolute;
  left: -36px;
  top: 50%;
}

.showintro img {
  width: 50%;
  height: 100%;
  display: block;
  top: 0;
  border-radius: 10px;
}

.tourlineSpots_Right {
  width: 50%;
  padding: 0 0 0 25px;
  font-size: 1.1vw;
}

.tourlineSpots_title {
  font-size: 1.3vw;
  margin: 10px 0;
}

.distancebtn {
  display: inline-block;
  color: var(--Dark);
  margin-left: 15px;
  line-height: 2.4vw;
  font-size: 1.1vw;
  border-bottom: 2px dashed var(--Dark);
}

.distancebtn a {
  text-decoration: none;
  color: var(--Dark);
}
/*# sourceMappingURL=route.css.map */