.form-control
    border: none
    border-bottom: 2px solid #0DB8DE
    border-top: 0px
    border-radius: 0px
    font-weight: bold
    margin-bottom: 20px
    padding-left: 0px

.form-control::placeholder
    opacity: 0.5
    font-weight: 300

.form-control-label
    font-size: 10px
    color: #6c6c6c
    font-weight: bold
    letter-spacing: 1px
    margin: 0
    padding: 0

.btn
    display: inline-block
    padding: 6px 12px
    margin-bottom: 0
    font-size: 14px
    font-weight: 400
    line-height: 1.42857143
    text-align: center
    white-space: nowrap
    vertical-align: middle
    touch-action: manipulation
    cursor: pointer
    border: 1px solid transparent
    border-radius: 4px
    outline: none

@keyframes spinner-border
    to
        transform: rotate(360deg)

.spinner-border
    display: inline-block
    width: 2rem
    height: 2rem
    vertical-align: text-bottom
    border: .25em solid currentColor
    border-right-color: transparent
    border-radius: 50%
    animation: spinner-border .75s linear infinite

.spinner-border-sm
    height: 0.8rem
    width: 0.8rem
    border-width: .2em