@keyframes spinner-border
    to
        transform: rotate(360deg)

.spinner-border
    display: inline-block
    width: 2rem
    height: 2rem
    vertical-align: text-bottom
    border: .25em solid currentColor
    border-right-color: transparent
    border-radius: 50%
    animation: spinner-border .75s linear infinite

.spinner-border-sm
    height: 0.8rem
    width: 0.8rem
    border-width: .2em
.spinner-border-ss
    height: 0.6rem
    width: 0.6rem
    border-width: .15em
    margin-left: .4rem

#del
    display: none

.btn-info 
    color: #fff
    background-color: #5bc0de
    border-color: #46b8da
.btn-info:hover 
    color: #fff
    background-color: #31b0d5
    border-color: #269abc

.btn
    display: inline-block
    padding: 6px 12px
    margin-bottom: 0
    font-size: 14px
    font-weight: 400
    line-height: 1.42857143
    text-align: center
    white-space: nowrap
    vertical-align: middle
    touch-action: manipulation
    cursor: pointer
    border: 1px solid transparent
    border-radius: 4px
    outline: none

input[type=file]
    display: none


.btnUpload
    display: none
.sptext
    font-size: 1rem
    margin-left: .4rem
